In [6]:
# general packages
import numpy as np
import pandas as pd
import datatable as dt

## Data preposessing

In [2]:
%%time
#parse_dates = ['CreatedDate', 'RequestedDate', 'AccTime', 'PupTime', 'DelTime']
#A = pd.read_csv('Booking_Dispatch_training_set.csv', parse_dates = parse_dates, 
#date_parser = lambda x: pd.to_datetime(x).strftime("%Y-%m-%d %H:%M:%S"))
#data_parsed = A.to_csv('data_parsed.csv')

Wall time: 0 ns

In [26]:
%%time
#parse_dates = ['CreatedDate', 'RequestedDate']
#B = pd.read_csv('Booking_Dispatch_training_set.csv', parse_dates = parse_dates, 
#date_parser = lambda x: pd.to_datetime(x).strftime("%Y-%m-%d %H:%M:%S"))
#data_parsed = B.to_csv('val_data_parsed.csv')

Wall time: 4min 22s

In [7]:
%%time
train_data_datatable = dt.fread('data_parsed.csv') 
data = train_data_datatable.to_pandas()
data = data.iloc[:,1:]

Wall time: 3min 3s

In [27]:
%%time
val_data_datatable = dt.fread('val_data_parsed.csv')
val_data = val_data_datatable.to_pandas()
val_data = val_data.iloc[:,1:]

Wall time: 2min 12s

In [28]:
data.shape

(3000000, 37)

In [29]:
val_data.shape

(3000000, 37)

In [30]:
#subtract the features and target variable for modeling 
train_features = data[['BookingSource','Conditions',
     'HasCondition','IsAccountBooking','CreatedDate','RequestedDate',
     'BookingFleet','DispatchFleet','AreaNumber','PuPlace','PuAddress',
     'PuSuburb','PuLat','PuLong','TargetVariable']]

In [31]:
val_features = val_data[['BookingSource','Conditions',
     'HasCondition','IsAccountBooking','CreatedDate','RequestedDate',
     'BookingFleet','DispatchFleet','AreaNumber','PuPlace','PuAddress',
     'PuSuburb','PuLat','PuLong','TargetVariable']]

In [34]:
train_features.head()

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled

In [35]:
val_features.head()

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled

In [38]:
#concatenate training data and validation data for feature engineering
features = pd.concat([train_features, val_features], axis=0)

In [40]:
features.head()

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled

In [41]:
# check datatypes
features.dtypes

BookingSource        object
Conditions            int64
HasCondition         object
IsAccountBooking     object
CreatedDate          object
RequestedDate        object
BookingFleet         object
DispatchFleet        object
AreaNumber            int32
PuPlace              object
PuAddress            object
PuSuburb             object
PuLat               float64
PuLong              float64
TargetVariable       object
dtype: object

In [48]:
#BookingSource variable
Conditions_count = data['Conditions'].value_counts().rename_axis('unique_values').reset_index(name='counts')
Conditions_count

     unique_values   counts
0                0  2240288
1          4194304   304956
2               64   101869
3           262144    88487
4         16777216    38880
..             ...      ...
375      537133056        1
376      604012544        1
377    17196908544        1
378         262152        1
379        4195392        1

[380 rows x 2 columns]

In [50]:
feature1 = features

## Feature engineering

In [ ]:
# BookingSource 
dummies = pd.get_dummies(features1['BookingSource'], drop_first=False)
feature1 = feature1.join(dummies)
feature1 = feature1.drop('room_type', axis= 1)

## Modeling