In [1]:
# general packages
import numpy as np
import pandas as pd
import datatable as dt
import gc

## Data preposessing

In [2]:
%%time
#parse_dates = ['CreatedDate', 'RequestedDate', 'AccTime', 'PupTime', 'DelTime']
#A = pd.read_csv('Booking_Dispatch_training_set.csv', parse_dates = parse_dates, 
#date_parser = lambda x: pd.to_datetime(x).strftime("%Y-%m-%d %H:%M:%S"))
#data_parsed = A.to_csv('data_parsed.csv')

Wall time: 0 ns

In [3]:
%%time
#parse_dates = ['CreatedDate', 'RequestedDate']
#B = pd.read_csv('Booking_Dispatch_training_set.csv', parse_dates = parse_dates, 
#date_parser = lambda x: pd.to_datetime(x).strftime("%Y-%m-%d %H:%M:%S"))
#data_parsed = B.to_csv('val_data_parsed.csv')

Wall time: 0 ns

In [4]:
%%time
train_data_datatable = dt.fread('data_parsed.csv') 
data = train_data_datatable.to_pandas()
data = data.iloc[:,1:]

Wall time: 2min 17s

In [5]:
%%time
val_data_datatable = dt.fread('val_data_parsed.csv')
val_data = val_data_datatable.to_pandas()
val_data = val_data.iloc[:,1:]

Wall time: 2min 25s

In [6]:
data.shape

(3000000, 37)

In [7]:
val_data.shape

(3000000, 37)

In [8]:
#subtract the features and target variable for modeling 
train_features = data[['BookingSource','Conditions',
     'HasCondition','IsAccountBooking','CreatedDate','RequestedDate',
     'BookingFleet','DispatchFleet','AreaNumber','PuPlace','PuAddress',
     'PuSuburb','PuLat','PuLong','TargetVariable']]

In [9]:
val_features = val_data[['BookingSource','Conditions',
     'HasCondition','IsAccountBooking','CreatedDate','RequestedDate',
     'BookingFleet','DispatchFleet','AreaNumber','PuPlace','PuAddress',
     'PuSuburb','PuLat','PuLong','TargetVariable']]

In [10]:
train_features.head()

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled

In [11]:
val_features.head()

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled

In [22]:
#concatenate training data and validation data for feature engineering
features = pd.concat([train_features, val_features], axis=0).reset_index(drop=True)

In [28]:
features

,BookingSource,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable
0,TelOp,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed
1,TelOp,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled
2,Internet,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed
3,StratumIVR,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed
4,Internet,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999995,TelOp,0,No,No,2019-03-01 08:55:10,2019-03-01 09:30:00,13cabs Sydney,13cabs Sydney,209,Apartment,77-79 Lawrence St,Peakhurst,-33.960439,151.059493,Completed
5999996,TelOp,0,No,No,2019-07-12 19:47:53,2019-07-12 19:47:53,13cabs Sydney,Silver Service Sydney,401,Business,85 Dunning Ave,Rosebery,-33.916820,151.202503,Completed
5999997,TelOp,0,No,No,2019-08-15 15:03:46,2019-08-15 15:03:47,13cabs Sydney,13cabs Sydney,182,Sydney Cricket Ground Members,Driver Ave,Moore Park,-33.891001,151.223461,Completed
5999998,TelOp,0,No,No,2019-05-16 17:23:18,2019-05-16 18:30:00,13cabs Sydney,Silver Service Sydney,19,Milson Appts,50 Alfred St,Milsons Point,-33.849802,151.211508,Completed
5999999,TelOp,0,No,No,2019-12-10 18:27:39,2019-12-10 18:27:39,13cabs Sydney,13cabs Sydney,37,Hmas Waterhen Upper Car Park,Balls Head Rd,Waverton,-33.840434,151.195806,Completed

In [24]:
# check datatypes
features.dtypes

BookingSource        object
Conditions            int64
HasCondition         object
IsAccountBooking     object
CreatedDate          object
RequestedDate        object
BookingFleet         object
DispatchFleet        object
AreaNumber            int32
PuPlace              object
PuAddress            object
PuSuburb             object
PuLat               float64
PuLong              float64
TargetVariable       object
dtype: object

In [25]:
#BookingSource variable
Conditions_count = data['Conditions'].value_counts().rename_axis('unique_values').reset_index(name='counts')
Conditions_count

     unique_values   counts
0                0  2240288
1          4194304   304956
2               64   101869
3           262144    88487
4         16777216    38880
..             ...      ...
375      537133056        1
376      604012544        1
377    17196908544        1
378         262152        1
379        4195392        1

[380 rows x 2 columns]

In [26]:
feature1 = features

In [ ]:
features_parsed = feature1.to_csv('feature1_parsed.csv')

## Feature engineering

Wall time: 1min 47s

,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,PuLong,TargetVariable,Internet,Permanent,StratumIVR,TelOp
0,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,151.244202,Completed,0,0,0,1
1,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,151.273028,Cancelled,0,0,0,1
2,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,151.261205,Completed,1,0,0,0
3,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,151.228609,Completed,0,0,1,0
4,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,151.213307,Cancelled,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999995,0,No,No,2019-03-01 08:55:10,2019-03-01 09:30:00,13cabs Sydney,13cabs Sydney,209,Apartment,77-79 Lawrence St,Peakhurst,-33.960439,151.059493,Completed,0,0,0,1
5999996,0,No,No,2019-07-12 19:47:53,2019-07-12 19:47:53,13cabs Sydney,Silver Service Sydney,401,Business,85 Dunning Ave,Rosebery,-33.916820,151.202503,Completed,0,0,0,1
5999997,0,No,No,2019-08-15 15:03:46,2019-08-15 15:03:47,13cabs Sydney,13cabs Sydney,182,Sydney Cricket Ground Members,Driver Ave,Moore Park,-33.891001,151.223461,Completed,0,0,0,1
5999998,0,No,No,2019-05-16 17:23:18,2019-05-16 18:30:00,13cabs Sydney,Silver Service Sydney,19,Milson Appts,50 Alfred St,Milsons Point,-33.849802,151.211508,Completed,0,0,0,1
5999999,0,No,No,2019-12-10 18:27:39,2019-12-10 18:27:39,13cabs Sydney,13cabs Sydney,37,Hmas Waterhen Upper Car Park,Balls Head Rd,Waverton,-33.840434,151.195806,Completed,0,0,0,1

### Create new time features

In [31]:
# Changing the pickup_datetime and dropoff_datetime from object to datetime datatype
feature1['CreatedDate']=pd.to_datetime(feature1['CreatedDate'])
feature1['RequestedDate']=pd.to_datetime(feature1['RequestedDate'])

In [32]:
# Creating features based on day
feature1['create_by_day'] = feature1['CreatedDate'].dt.day_name()
feature1['request_by_day'] = feature1['RequestedDate'].dt.day_name()

In [33]:
# Creating features based on Hour
feature1['create_by_hour'] = feature1['CreatedDate'].dt.hour
feature1['request_by_hour'] = feature1['RequestedDate'].dt.hour
#Morning, which starts at 6:01 am and ends at 12:oopm
#Afternoon, which starts at 12:01 pm and ends at 18:00pm
#Evening, which starts at 18:01 and ends at 21:00pm
#Night, which start at 21:01 and ends at 6:00am

In [34]:
def part_of_day (t):
    if t in range (6,12):
        return "Morning"
    elif t in range (12,18):
        return "Afternoon"
    elif t in range (18,21):
        return "Evening"
    else:
        return "Night"

In [36]:
feature1['create_part_of_day']=feature1['create_by_hour'].apply(part_of_day)
feature1['request_part_of_day']=feature1['request_by_hour'].apply(part_of_day)

In [38]:
feature1.head()

,Conditions,HasCondition,IsAccountBooking,CreatedDate,RequestedDate,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,...,Internet,Permanent,StratumIVR,TelOp,create_by_day,request_by_day,create_by_hour,request_by_hour,create_part_of_day,request_part_of_day
0,0,No,No,2019-04-11 10:36:55,2019-04-11 11:00:00,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,...,0,0,0,1,Thursday,Thursday,10,11,Morning,Morning
1,0,No,No,2019-06-23 09:52:55,2019-06-23 09:52:55,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,...,0,0,0,1,Sunday,Sunday,9,9,Morning,Morning
2,0,No,No,2019-12-01 00:14:02,2019-12-01 00:14:02,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,...,1,0,0,0,Sunday,Sunday,0,0,Night,Night
3,0,No,No,2019-09-12 09:07:03,2019-09-12 09:07:04,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,...,0,0,1,0,Thursday,Thursday,9,9,Morning,Morning
4,0,No,No,2019-02-21 21:37:04,2019-02-21 21:37:04,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,...,1,0,0,0,Thursday,Thursday,21,21,Night,Night

### new feature: if booking fleet matches with the dispatch fleet

### New feature: if the records of pick up surburbs exceed 10

In [51]:
feature1['PuSuburb'].value_counts().head(1000)

Sydney             206150
Mascot             146598
Randwick           121972
Mosman              93100
Liverpool           90028
                    ...
SYDENHAM               12
LINLEY POINT           12
WATSONS BAY            12
Megalong Valley        12
LEUMEAH                10
Name: PuSuburb, Length: 1000, dtype: int64

In [52]:
pick = feature1['PuSuburb'].value_counts().tail(1000).keys().tolist() #<10
pick

['Green Valley',
 'Wentworthville',
 'Riverwood',
 'Bella Vista',
 'Kellyville',
 'Rydalmere',
 'Bass Hill',
 'Putney',
 'Condell Park',
 'Wetherill Park',
 'Kingswood',
 'Rosehill',
 'Tamarama',
 'Katoomba',
 'Chiswick',
 'Padstow',
 'Beverly Hills',
 'Mount Colah',
 'Bradbury',
 'Hazelbrook',
 'Chester Hill',
 'McMahons Point',
 'Kurraba Point',
 'Brookvale',
 'Mortdale',
 'Lavender Bay',
 'St Johns Park',
 'Seaforth',
 'Longueville',
 'Daceyville',
 'Leppington',
 'Bossley Park',
 'Heckenberg',
 'Cabramatta West',
 'Toongabbie',
 'Chifley',
 'Darling Harbour',
 'Strathfield South',
 'Hinchinbrook',
 'West Pymble',
 'Mount Druitt',
 'East Lindfield',
 'Leura',
 'Prairiewood',
 'Beecroft',
 'Penshurst',
 'Silverwater',
 'Rooty Hill',
 'Forestville',
 'Breakfast Point',
 'Balgowlah',
 'Sans Souci',
 'Sylvania',
 'Quakers Hill',
 'Greystanes',
 'Fairfield Heights',
 'Carlton',
 'Panania',
 'St. Ives',
 'Northmead',
 'Ambarvale',
 'St Marys',
 'Fairfield West',
 'Normanhurst',
 'Lalor Park',
 'Willoughby East',
 'Doonside',
 'Kirrawee',
 'Ashbury',
 'Belfield',
 'North Rocks',
 'Wiley Park',
 'Peakhurst',
 'North Strathfield',
 'Sutherland',
 'Hammondville',
 'Lansvale',
 'Rouse Hill',
 'Holsworthy',
 'Meadowbank',
 'Dawes Point',
 'Belrose',
 'Wattle Grove',
 'Dural',
 'Mona Vale',
 'Pendle Hill',
 'MOSMAN',
 'Rosemeadow',
 'Freshwater',
 'Collaroy',
 'Narellan',
 'Camden',
 'Mortlake',
 'Newington',
 'Narrabeen',
 'Harris Park',
 'Airds',
 'Hornsby Heights',
 'Winston Hills',
 'Gymea',
 'Enfield',
 'Dundas Valley',
 'Edmondson Park',
 'Castle Cove',
 'Homebush Bay',
 'Eastgardens',
 'Fairlight',
 'Cabarita',
 'Eagle Vale',
 'Oatley',
 'Caringbah South',
 'Milperra',
 'BALMAIN',
 'Bonnyrigg Heights',
 'Beaconsfield',
 'Smeaton Grange',
 'Woolwich',
 'Schofields',
 'Denistone',
 'Merrylands West',
 'Regents Park',
 'Glendenning',
 'Manly Vale',
 'Glenwood',
 'Fairfield East',
 'Carramar',
 'Bexley North',
 'Engadine',
 'LEICHHARDT',
 'Gregory Hills',
 'Narwee',
 'Cranebrook',
 'PADDINGTON',
 'South Wentworthville',
 'Banksia',
 'Oatlands',
 'Monterey',
 'Georges Hall',
 'Pemulwuy',
 'Chullora',
 'Berala',
 'Wakeley',
 'Wareemba',
 'Jamisontown',
 'Blakehurst',
 'Allambie Heights',
 'Ruse',
 'East Killara',
 'East Ryde',
 'St Helens Park',
 'Mount Annan',
 'Telopea',
 'Sefton',
 'South Penrith',
 'Middle Cove',
 'The Ponds',
 'Northwood',
 'Claymore',
 'Prospect',
 'Lawson',
 'North Epping',
 'Sydenham',
 'Balgowlah Heights',
 'Barangaroo',
 'Marsden Park',
 'Glenhaven',
 'Glenmore Park',
 'Killarney Heights',
 'Edensor Park',
 'St Andrews',
 'La Perouse',
 'Canada Bay',
 'Newport',
 'Woolooware',
 'West Hoxton',
 'Eastern Creek',
 'ANNANDALE',
 'St Clair',
 'Warrawee',
 'Jannali',
 'Wentworth Falls',
 'Terrey Hills',
 'Warriewood',
 'Guildford West',
 'Kings Park',
 'Kellyville Ridge',
 'Cromer',
 'Westleigh',
 'Emu Plains',
 'Narraweena',
 'Menai',
 'Raby',
 'St Ives Chase',
 'Beacon Hill',
 'Allawah',
 'Whalan',
 'Marayong',
 'Chatswood West',
 'Oran Park',
 'Yennora',
 'Phillip Bay',
 'Balmoral Beach',
 'PYRMONT',
 'Clyde',
 'Kings Langley',
 'Queenscliff',
 'Roseville Chase',
 'Taren Point',
 'Clontarf',
 'Riverstone',
 'Rodd Point',
 'Berowra',
 'South Granville',
 'Cecil Hills',
 'Horningsea Park',
 'Austral',
 'Hoxton Park',
 'Harrington Park',
 'Plumpton',
 'RANDWICK',
 'Port Botany',
 'Bardwell Valley',
 'ROZELLE',
 'Greenfield Park',
 'North Balgowlah',
 'Girraween',
 'Mount Kuring-Gai',
 'Werrington',
 'South Turramurra',
 'South Hurstville',
 'SURRY HILLS',
 'Picnic Point',
 'Woodbine',
 'Stanhope Gardens',
 'Bardwell Park',
 'Middleton Grange',
 'Colyton',
 'Denham Court',
 'Huntingwood',
 'CREMORNE',
 'North Manly',
 'COOGEE',
 'Henley',
 'Minchinbury',
 'Tennyson Point',
 'North Wahroonga',
 'Richmond',
 'Mount Victoria',
 'Clemton Park',
 'Picton',
 'NEUTRAL BAY',
 'North Narrabeen',
 'Gymea Bay',
 'Jordan Springs',
 'Sydney University',
 'BELLEVUE HILL',
 'North Curl Curl',
 'Huntleys Cove',
 'Erskine Park',
 'Beverley Park',
 'Elderslie',
 'Arndell Park',
 'MAROUBRA',
 'North St Marys',
 'Illawong',
 'Bidwill',
 'HUNTERS HILL',
 'WOOLLAHRA',
 'East Hills',
 'Glen Alpine',
 'NORTH BONDI',
 'Ramsgate',
 'Cambridge Park',
 'Turrella',
 'Bardia',
 'Constitution Hill',
 'Oyster Bay',
 'Tregear',
 'Ramsgate Beach',
 'Denistone East',
 'CAMMERAY',
 'NAREMBURN',
 'Berowra Heights',
 'Kyeemagh',
 'ARTARMON',
 'Dundas',
 'Galston',
 'Woodcroft',
 'Liberty Grove',
 'Horsley Park',
 'Lugarno',
 'Curl Curl',
 'Oxley Park',
 'Narellan Vale',
 'Burraneer',
 'Palm Beach',
 'DRUMMOYNE',
 'Sylvania Waters',
 'Mays Hill',
 'Cheltenham',
 'Lethbridge Park',
 'Hebersham',
 'Concord west',
 'GLEBE',
 'Oakhurst',
 'Bangor',
 'Heathcote',
 'Birrong',
 'Burwood Heights',
 'Spring Farm',
 'NORTHBRIDGE',
 'Kareela',
 'East Sydney',
 'Como',
 'Gledswood Hills',
 'SOUTH COOGEE',
 'LILYFIELD',
 'Bankstown Aerodrome',
 'Blackett',
 'Ropes Crossing',
 'Linley Point',
 'Old Toongabbie',
 'Currans Hill',
 'WILLOUGHBY',
 'Avalon Beach',
 'BONDI BEACH',
 'Davidson',
 'Melrose Park',
 'CHATSWOOD',
 'Collaroy Plateau',
 'Carnes Hill',
 'Sandringham',
 'Abbotsbury',
 'Emerton',
 'DOUBLE BAY',
 'Eschol Park',
 'REDFERN',
 'Hurstville Grove',
 'Dolls Point',
 'DULWICH HILL',
 'Woodford',
 'Huntleys Point',
 'MARRICKVILLE',
 'Acacia Gardens',
 'Tahmoor',
 'DARLINGHURST',
 'Loftus',
 'Old Guildford',
 'Barden Ridge',
 'GLADESVILLE',
 'Yowie Bay',
 'Connells Point',
 'NEWTOWN',
 'LANE COVE',
 'Willmot',
 'Windsor',
 'Shalvey',
 'Beaumont Hills',
 'Elanora Heights',
 'Colebee',
 'CAMPERDOWN',
 'Revesby Heights',
 'ROSE BAY',
 'Kogarah Bay',
 'CROWS NEST',
 'BIRCHGROVE',
 'Kenthurst',
 'Blair Athol',
 'BRONTE',
 'Bayview',
 'DARLING POINT',
 'Cobbitty',
 'BONDI',
 'Carss Park',
 'Waterfall',
 'Kurnell',
 'Padstow Heights',
 'Rossmore',
 'ALEXANDRIA',
 'Werrington County',
 'ELIZABETH BAY',
 'Sydney Airport',
 'Dean Park',
 'Kemps Creek',
 'Parklea',
 'Grays Point',
 'Peakhurst Heights',
 'Cambridge Gardens',
 'Macquarie Links',
 'KIRRIBILLI',
 'NORTH SYDNEY',
 'Camellia',
 'CASTLECRAG',
 'Hassall Grove',
 'Alfords Point',
 'ERSKINEVILLE',
 'Camden South',
 'Avalon',
 'Appin',
 'LANE COVE NORTH',
 'Walsh Bay',
 'Holroyd',
 'Kearns',
 'ST LEONARDS',
 'Mount Lewis',
 'BONDI JUNCTION',
 'Claremont Meadows',
 'BALMAIN EAST',
 'WOLLSTONECRAFT',
 'Flemington',
 'CROYDON',
 'RYDE',
 'WILLOUGHBY EAST',
 'PETERSHAM',
 'BOTANY',
 'Springwood',
 'CLOVELLY',
 'VAUCLUSE',
 'Woronora',
 'WAVERLEY',
 'Kings Cross',
 'Glebe Point',
 'QUEENS PARK',
 'Medlow Bath',
 'FOREST LODGE',
 'ROSEVILLE',
 'ASHFIELD',
 'Orchard Hills',
 'Macquarie University',
 'Lilli Pilli',
 'MCMAHONS POINT',
 'Bilgola Plateau',
 'KENSINGTON',
 'LEWISHAM',
 'STANMORE',
 'Elizabeth Hills',
 'Bow Bowing',
 'Potts Hill',
 'ENMORE',
 'Wheeler Heights',
 'Arcadia',
 'Bullaburra',
 'Bonnet Bay',
 'Brooklyn',
 'Kyle Bay',
 'Bundeena',
 'Church Point',
 'Grasmere',
 'Emu Heights',
 'Bungarribee',
 'Werrington Downs',
 'RHODES',
 'MILSONS POINT',
 'Menangle',
 'South Windsor',
 'WATERLOO',
 'Glenorie',
 'Bringelly',
 'Cecil Park',
 'Rookwood',
 'Box Hill',
 'SYDNEY',
 'Voyager Point',
 'Dharruk',
 'RUSSELL LEA',
 'Yarrawarrah',
 'EARLWOOD',
 'ROSEBERY',
 'Vineyard',
 'CREMORNE POINT',
 'Denistone West',
 'Luddenham',
 'Catherine Field',
 'RIVERVIEW',
 'Ingleside',
 'CONCORD',
 'Oxford Falls',
 'Llandilo',
 'Valley Heights',
 'Whale Beach',
 'Caddens',
 'WAVERTON',
 'Gilead',
 'KINGSFORD',
 'Garden Island',
 'Woodpark',
 'TEMPE',
 'PARRAMATTA',
 'ST IVES',
 'Circular Quay',
 'Bargo',
 'Mulgoa',
 'MATRAVILLE',
 'POTTS POINT',
 'SEAFORTH',
 'ZETLAND',
 'Woronora Heights',
 'MANLY',
 'Greenhills Beach',
 'Dolans Bay',
 'FIVE DOCK',
 'Thirlmere',
 'Sandy Point',
 'HABERFIELD',
 'LINDFIELD',
 'Menangle Park',
 'Londonderry',
 'Minto Heights',
 'Harbord',
 'DARLINGTON',
 'BELMORE',
 'Blairmount',
 'Faulconbridge',
 'ABBOTSFORD',
 'Kentlyn',
 'LANE COVE WEST',
 'EDGECLIFF',
 'NORTH RYDE',
 'POINT PIPER',
 'Leonay',
 'Camden Park',
 'TAMARAMA',
 'GREENWICH',
 'Duffys Forest',
 'NORTH WILLOUGHBY',
 'DOVER HEIGHTS',
 'Cowan',
 'Georges Heights',
 'Clareville',
 'Lucas Heights',
 'Port Hacking',
 'MALABAR',
 'Bligh Park',
 'Annangrove',
 'Castlereagh',
 'ULTIMO',
 'SUMMER HILL',
 'CASTLE HILL',
 'BREAKFAST POINT',
 'Berkshire Park',
 'Middle Dural',
 'BALGOWLAH',
 'MANLY VALE',
 'BALGOWLAH HEIGHTS',
 'KILLARA',
 'University Of Nsw',
 'CLONTARF',
 'Mount Vernon',
 'HOMEBUSH',
 'STRATHFIELD',
 'Clarendon',
 'HURSTVILLE',
 'Long Point',
 'ROCKDALE',
 'WAREEMBA',
 'RUSHCUTTERS BAY',
 'PUTNEY',
 'NORTH BALGOWLAH',
 'PYMBLE',
 'CHIPPENDALE',
 'MILLERS POINT',
 'Pleasure Point',
 'CARLINGFORD',
 'CAMPSIE',
 'Len Waters Estate',
 'Clifton Gardens',
 'NORTH MANLY',
 'NEWINGTON',
 'TENNYSON POINT',
 'Mcgraths Hill',
 'Berowra Waters',
 'EAST LINDFIELD',
 'WAHROONGA',
 'ALLAMBIE HEIGHTS',
 'EASTWOOD',
 'BARDWELL PARK',
 'Mulgrave',
 'INGLEBURN',
 'Wilton',
 'Pitt Town',
 'NORTHWOOD',
 'KINGSGROVE',
 'LONGUEVILLE',
 'LITTLE BAY',
 'Regentville',
 'WAITARA',
 'FAIRLIGHT',
 'CASTLE COVE',
 'Wallacia',
 'MACQUARIE PARK',
 'ST PETERS',
 'BRADBURY',
 'CROYDON PARK',
 'TURRAMURRA',
 'Wedderburn',
 'FORESTVILLE',
 'HORNSBY',
 'Kangaroo Point',
 'SADLEIR',
 'Blue Mountains National Park',
 'Winmalee',
 'EAST KILLARA',
 'HILLSDALE',
 'FRESHWATER',
 'THE ROCKS',
 'BROOKVALE',
 'WEST PYMBLE',
 'EPPING',
 'Warrimoo',
 'LIDCOMBE',
 'KILLARNEY HEIGHTS',
 'Bilgola',
 'Englorie Park',
 'Cottage Point',
 'BURWOOD',
 'Kirkham',
 'Buxton',
 'MARSFIELD',
 'BAULKHAM HILLS',
 'CHIFLEY',
 'MORTDALE',
 'Royal National Park',
 'Shanes Park',
 'CENTENNIAL PARK',
 'Cattai',
 'Ellis Lane',
 'FRENCHS FOREST',
 'The Oaks',
 'THORNLEIGH',
 'KURRABA POINT',
 'WEST PENNANT HILLS',
 'HORNSBY HEIGHTS',
 'Windsor Downs',
 'CHATSWOOD WEST',
 'EVELEIGH',
 'CONNELLS POINT',
 'Marrickville South',
 'RODD POINT',
 'WOOLWICH',
 'MASCOT',
 'WOOLLOOMOOLOO',
 'Round Corner',
 'Oakville',
 'WEST RYDE',
 'CHERRYBROOK',
 'BRIGHTON-LE-SANDS',
 'FAIRFIELD WEST',
 'Hobartville',
 'East Wahroonga',
 'GLENHAVEN',
 'CARINGBAH SOUTH',
 'Badgerys Creek',
 'DENISTONE',
 'Cawdor',
 'CHIPPING NORTON',
 'Lapstone',
 'LAVENDER BAY',
 'GORDON',
 'DEE WHY',
 'West Lindfield',
 'BANKSIA',
 'MIDDLE COVE',
 'Bilgola Beach',
 'WENTWORTH POINT',
 'ST IVES CHASE',
 'CANADA BAY',
 'PAGEWOOD',
 'CHISWICK',
 'CROMER',
 'East Botany',
 'CONCORD WEST',
 'Lansdowne',
 'CHELTENHAM',
 'Varroville',
 'LA PEROUSE',
 'Mount Riverview',
 'Orangeville',
 'PENNANT HILLS',
 'QUEENSCLIFF',
 'PANANIA',
 'HUNTLEYS COVE',
 'Maraylya',
 'West Killara',
 'Glebe Island',
 'ILLAWONG',
 'Mount Hunter',
 'ERMINGTON',
 'GUILDFORD',
 'MOOREBANK',
 'PHILLIP BAY',
 'BELROSE',
 'MIRANDA',
 'ASHBURY',
 'CABARITA',
 'East Roseville',
 'BEACONSFIELD',
 'WINSTON HILLS',
 'Linden',
 'ROSELANDS',
 'Strathfield West',
 'Beauty Point',
 'LIVERPOOL',
 'SEVEN HILLS',
 'NARRAWEENA',
 'HURLSTONE PARK',
 'ARNCLIFFE',
 'BEECROFT',
 'BEVERLY HILLS',
 'Berrilee',
 'Little Hartley',
 'RYDALMERE',
 'Megalong',
 'MORTLAKE',
 'DENISTONE EAST',
 'OYSTER BAY',
 'Oakdale',
 'CURL CURL',
 'BEROWRA',
 'AUBURN',
 'CRONULLA',
 'The Spit',
 'Maianbar',
 'EASTLAKES',
 'WARWICK FARM',
 'COLLAROY PLATEAU',
 'Razorback',
 'PRESTONS',
 'Agnes Banks',
 'CANTERBURY',
 'NORTH CURL CURL',
 'COLLAROY',
 'Douglas Park',
 'DAWES POINT',
 'Audley',
 'GREENACRE',
 'MACQUARIE FIELDS',
 'PEAKHURST',
 'SANS SOUCI',
 'Pheasants Nest',
 'Ku-Ring-Gai Chase',
 'MOUNT COLAH',
 'BERALA',
 'CASULA',
 'NORTH NARRABEEN',
 'Hartley Vale',
 'Diamond Bay',
 'JANNALI',
 'Kingswood Park',
 'NORTH STRATHFIELD',
 'LAKEMBA',
 'HUNTLEYS POINT',
 'Bathurst',
 'ELANORA HEIGHTS',
 'EAST RYDE',
 'Lithgow',
 'MELROSE PARK',
 'Nelson',
 'BARDWELL VALLEY',
 'STRATHFIELD SOUTH',
 'Greendale',
 'LUGARNO',
 'BELFIELD',
 'TELOPEA',
 'WATTLE GROVE',
 'Boronia Park',
 'Brownlow Hill',
 'MOUNT KURING-GAI',
 'NARRABEEN',
 'JORDAN SPRINGS',
 'NORTH TURRAMURRA',
 'QUAKERS HILL',
 'BONNYRIGG HEIGHTS',
 'DAVIDSON',
 'PUNCHBOWL',
 'BEACON HILL',
 'MERRYLANDS',
 'KINGS LANGLEY',
 'HARRINGTON PARK',
 'PADSTOW',
 'South Maroota',
 'CANLEY HEIGHTS',
 'AVALON BEACH',
 'SYDENHAM',
 'LINLEY POINT',
 'WATSONS BAY',
 'Megalong Valley',
 'LEUMEAH',
 'Glenmore',
 'TURRELLA',
 'BANKSTOWN',
 'Bowenfels',
 'HOLSWORTHY',
 'SMITHFIELD',
 'MINTO',
 'REVESBY HEIGHTS',
 'WILEY PARK',
 'GLENWOOD',
 'HINCHINBROOK',
 'Fiddletown',
 'BEVERLEY PARK',
 'BONNYRIGG',
 'MOORE PARK',
 'CARRAMAR',
 'CAMPBELLTOWN',
 'SOUTH HURSTVILLE',
 'PEMULWUY',
 'WOLLI CREEK',
 'Gosford',
 'Wollongong',
 'MOUNT ANNAN',
 'PICNIC POINT',
 'HAYMARKET',
 'MOUNT PRITCHARD',
 'ASHCROFT',
 'Belimbla Park',
 'REVESBY',
 'Scotland Island',
 'NORTHMEAD',
 'ROSEVILLE CHASE',
 'LIBERTY GROVE',
 'DACEYVILLE',
 'Ebenezer',
 'BEXLEY',
 'WESTLEIGH',
 'Bobbin Head',
 'NORTH WAHROONGA',
 'GREYSTANES',
 'STANHOPE GARDENS',
 'GLENMORE PARK',
 'ENFIELD',
 'NORTH ROCKS',
 'MENAI',
 'Couridjah',
 'KOGARAH',
 'Maldon',
 'GLEDSWOOD HILLS',
 'GLENFIELD',
 'DUNDAS VALLEY',
 'OATLANDS',
 'Kurmond',
 'Balmoral (South)',
 'WARRAWEE',
 'Theresa Park',
 'KIRRAWEE',
 'KAREELA',
 'ASQUITH',
 'GREGORY HILLS',
 'BLAKEHURST',
 'LILLI PILLI',
 'CHESTER HILL',
 'ARCADIA',
 'ST MARYS',
 'Kelso',
 'RAMSGATE',
 'Werombi',
 'HOMEBUSH WEST',
 'CARNES HILL',
 'Hill Top (North)',
 'PENDLE HILL',
 'GYMEA BAY',
 'NORMANHURST',
 'KELLYVILLE',
 'REGENTS PARK',
 'GYMEA',
 'CARINGBAH',
 'WEST HOXTON',
 'NORTH EPPING',
 'MEADOWBANK',
 'Port Kembla',
 'ROOTY HILL',
 'NEWPORT',
 'Rose Bay North',
 'CABRAMATTA WEST',
 'Hartley',
 'BLACKTOWN',
 'Lakesland',
 'Sun Valley',
 'GREENHILLS BEACH',
 'MONA VALE',
 'Balmoral',
 'COMO',
 'CONDELL PARK',
 'South Bathurst',
 'Balgownie',
 'SOUTH TURRAMURRA',
 'CABRAMATTA',
 'ROUSE HILL',
 'ST ANDREWS',
 'BARANGAROO',
 'Thirroul',
 'Wallerawang',
 'AMBARVALE',
 'WOODCROFT',
 'Rydal',
 'DURAL',
 'WARRIEWOOD',
 'PENSHURST',
 'Tarrawanna',
 'WORONORA',
 'WENTWORTHVILLE',
 'TOONGABBIE',
 'SPRING FARM',
 'Warilla',
 'BILGOLA PLATEAU',
 'Maroota',
 'SYDNEY OLYMPIC PARK',
 'Careel Bay',
 'KYEEMAGH',
 'COLEBEE',
 'SUTHERLAND',
 'EAST HILLS',
 'GEORGES HALL',
 'Nattai',
 'Berkeley',
 'ALLAWAH',
 'BAYVIEW',
 'North St Ives',
 'THE PONDS',
 'Bellambi',
 'MACQUARIE LINKS',
 'BANKSMEADOW',
 'DENHAM COURT',
 'CANLEY VALE',
 'BELLA VISTA',
 'Middle Harbour',
 'SILVERWATER',
 'LOFTUS',
 'Woonona',
 'OLD TOONGABBIE',
 'BEXLEY NORTH',
 'EAGLE VALE',
 'ORAN PARK',
 'Akuna Bay',
 'Yellow Rock',
 'MONTEREY',
 'HECKENBERG',
 'GREENFIELD PARK',
 'NORTH PARRAMATTA',
 'DUNDAS',
 'KANGAROO POINT',
 'BONNET BAY',
 'GLENDENNING',
 'TERREY HILLS',
 'MILLER',
 'OATLEY',
 'KEARNS',
 'WALSH BAY',
 'SYLVANIA WATERS',
 'West Bathurst',
 'Morts Estate',
 'BURRANEER',
 'Dobroyd Point',
 'OAKHURST',
 'Lemongrove',
 'BANGOR',
 'GREEN VALLEY',
 'MERRYLANDS WEST',
 'Gormans Hill',
 'Mittagong',
 'CARLTON',
 'Eglinton',
 'MOUNT VICTORIA',
 'darling harbour',
 'Grenfell',
 'HARRIS PARK',
 'WESTMEAD',
 'REGENTVILLE',
 'White Bay',
 'LURNEA',
 'KELLYVILLE RIDGE',
 'Hurstville South',
 'North Cronulla',
 'Cringila',
 'East Gordon',
 'Oberon',
 'Mount Warrigal',
 'HURSTVILLE GROVE',
 'BUSBY',
 'YARRAWARRAH',
 'WOOLOOWARE',
 'Kingswood (North)',
 'HENLEY',
 'Windradyne',
 'Albion Park Rail',
 'GRAYS POINT',
 'Randwick NSW',
 'HAMMONDVILLE',
 'East Corrimal',
 'AIRDS',
 'Mount Pleasant',
 'BARDEN RIDGE',
 'Glenbrook',
 'VINEYARD',
 'Mckellars Park',
 'DOONSIDE',
 'GALSTON',
 'SCHOFIELDS',
 'Pitt Town Bottoms',
 'Richmond RAAF',
 'Mount Ousley']

In [53]:
feature1['pick'] = np.where(feature1['PuSuburb'].isin(pick), True, False)

In [54]:
feature1.head()

,Conditions,HasCondition,IsAccountBooking,BookingFleet,DispatchFleet,AreaNumber,PuPlace,PuAddress,PuSuburb,PuLat,...,Permanent,StratumIVR,TelOp,create_by_day,request_by_day,create_by_hour,request_by_hour,create_part_of_day,request_part_of_day,pick
0,0,No,No,13cabs Sydney,13cabs Sydney,177,House,11 Stewart St,Randwick,-33.921022,...,0,0,1,Thursday,Thursday,10,11,Morning,Morning,False
1,0,No,No,13cabs Sydney,13cabs Sydney,111,,145 Alfred Rd,Narraweena,-33.755931,...,0,0,1,Sunday,Sunday,9,9,Morning,Morning,True
2,0,No,No,13cabs Sydney,13cabs Sydney,92,,284 Birrell Street,Bondi,-33.897201,...,0,0,0,Sunday,Sunday,0,0,Night,Night,False
3,0,No,No,13cabs Sydney,13cabs Sydney,182,,127-131 Cook Rd,Centennial Park,-33.895716,...,0,1,0,Thursday,Thursday,9,9,Morning,Morning,False
4,0,No,No,13cabs Sydney,13cabs Sydney,4,,Unit 87/5010 Macquarie St,Sydney,-33.859737,...,0,0,0,Thursday,Thursday,21,21,Night,Night,False

### Drop columns

In [ ]:
feature1 = feature1.drop(columns=['CreatedDate', 'RequestedDate']) #date features

In [ ]:
feature1 = feature1.drop(columns=['PuSuburb','PuPlace','PuAddress']) # pick-up location related features

In [ ]:
feature1 = feature1.drop(columns=['PuSuburb'])

### Creature dummy variables for categorical data

In [ ]:
%%time
# BookingSource 
dummies = pd.get_dummies(feature1['BookingSource'], drop_first=False)
feature1 = feature1.join(dummies)
feature1 = feature1.drop('BookingSource', axis= 1)

In [ ]:
feature1

## Modeling